/**
 * Arquivo de objeto de cores
 *
 * Arquivo que será responsável por gerar objeto das cores
 *
 *  @project Pallete Colors
 *  @version 1.0
 *  @package colors
 *  @date  15/04/2020
 *  @lastmodified 15/04/2020  <luigijordanio@gmail.com>
 *  @creator Luigi Oliveira <luigijordanio@gmail.com>
 *  @copyright 2020, 8Pixeldg 
 */

/**
 * Objeto de cores
 *
 * Objeto de cores que vai ser populado com 
 * as cores secundarias.
 * 
 * @subsection utils/color/variables/object_colors/
 */
 $object_color:(); // Nome Completo
 
 @each $color-name, $color-value in $colors {

 
    $initial: str-slice($color-name,1,3); // 3 primeras letras do nome da cor
    
     /**
      * Cores Standard
      *
      * @subsection utils/color/variables/object_colors/standard_color
      */
     $standard_color: ($color-name:$color-value); // Cor Standard

     $standard_color_alias: ($initial: $color-value); // Apelido de cor Standard
     
     $object_color: map-merge($object_color,$standard_color); // Incrimentando objeto de cores
     
     /**
      * Cores Mais Claras
      *
      * @subsection utils/color/variables/object_colors/lighter_colors
      */
     @for $i from 1 to ($color_number+1) {
         
         $lighter_color: (#{$color-name}-l#{$i} : lighten($color-value,($color_scale*$i)));
 
         $object_color: map-merge($object_color,$lighter_color);
     }
 
     /**
     * Cores Mais Escuras
     *
     * @subsection utils/color/variables/object_colors/darker_color
     */
     @for $i from 1 to ($color_number+1) {
 
         $darker_color: (#{$color-name}-d#{$i}: darken($color-value,($color_scale*$i)));
 
         $object_color: map-merge($object_color,$darker_color);
     }
     
 }
