/**
 * Arquivo de helpers de cores
 *
 * Arquivo que gerá classes css que atribuirão as propriedades
 * de cor
 *  @project BitBox
 *  @version 1.0
 *  @package utils/color/helpers
 *  @date  15/04/2020
 *  @lastmodified 15/04/2020  <ljoliveira2@stefanini.com>
 *  @creator Luigi Oliveira <ljoliveira2@stefanini.com>
 *  @copyright 2020, Caixa Econômica Federal 
 */


/**
 * Helpers de Cores
 *
 * Sessão responsável por gerar as classes helpers 
 * com as cores solidas
 *
 * @section utils/color/helpers/solids
 */
@each $color-name, $color-value in $object_color {

    .bg-#{$color-name} {
        @debug $color-name;
        @include background-color($color-name);
    }

    .tx-#{$color-name} {
        @include color($color-name);
    }

    @each $direction in top,bottom,left,right {
        .border-color-#{$direction}-#{$color-name} {
            @include border-color($color-name,1,$direction);
        }
    }

    .border-color-#{$color-name} {
        @include border-color($color-name);
    }

    @each $color-name-2, $color-value-2 in $object_color {
        @if $color-name-2 != $color-name {

            .bg-gr-#{$color-name}-#{$color-name-2}{
                @include background-gradient($color-name,$color-name-2)
            }

            .tx-gr-#{$color-name}-#{$color-name-2}{
                @include color-gradient($color-name,$color-name-2)
            }
        }
    }

    .caret-color-#{$color-name} {
        @include caret-color($color-name);
    }


    .column-rule-color-#{$color-name} {
        @include column-rule-color($color-name);
    }
}

.bg-transparent{
    background-color: transparent;
}

.tx-transparent{
    color: transparent;
}

.border-color-transparent{
    border-color: transparent;
}

