/**
 * Arquivo de helpers de cores
 *
 * Arquivo que gerá classes css que atribuirão as propriedades
 * de cor
 *  @project BitBox
 *  @version 1.0
 *  @package utils/color/helpers
 *  @date  15/04/2020
 *  @lastmodified 15/04/2020  <ljoliveira2@stefanini.com>
 *  @creator Luigi Oliveira <ljoliveira2@stefanini.com>
 *  @copyright 2020, Caixa Econômica Federal 
 */


/**
 * Helpers de Cores
 *
 * Sessão responsável por gerar as classes helpers 
 * com as cores solidas
 *
 * @section utils/color/helpers/solids
 */
@each $color-name, $color-value in $colors {
    
    .bg-#{$color-name} {
        @include background-color($color-name);
    }

    .bg-#{str-slice($color-name,1,3)} {
        @include background-color($color-name);
    }

    .tx-#{$color-name} {
        @include color($color-name);
    }

    .tx-#{str-slice($color-name,1,3)} {
        @include color($color-name);
    }

    .border-#{$color-name} {
        @include border-color($color-name);
    }

    .br-#{str-slice($color-name,1,3)} {
        @include color($color-name);
    }

    @each $style in darker,lighter {

        @for $i from 1 to ($color_number+1) {

            $styleSlice: str-slice($style,1,1);
            $style-name : #{$styleSlice}#{$i};

            // Full name
            .bg-#{$color-name}-#{$style}-#{$i} {
                @include background-color($color-name,$style-name);
            }

            // Alias
            .bg-#{str-slice($color-name,1,3)}-#{$style-name} {
                @include background-color($color-name,$style-name);
            }

            // Full name
            .tx-#{$color-name}-#{$style}-#{$i} {
                @include color($color-name,$style-name);
            }

            // Alias
            .tx-#{str-slice($color-name,1,3)}-#{$style-name} {
                @include color($color-name,$style-name);
            }
          
            // Border
            .border-#{$color-name}-#{$style}-#{$i} {
                @include border-color($color-name,$style-name);
            }

            // Border Alias
            .br-#{str-slice($color-name,1,3)}-#{$style-name} {
                @include border-color($color-name,$style-name);
            }

            @each $direction in top,bottom,left,right {
                
                // Border
                .border-#{$color-name}-#{$style}-#{$i} {
                    @include border-color($color-name,$style-name,1,$direction);

                }

                .br-#{str-slice($direction,1,1)}-#{str-slice($color-name,1,3)}-#{$style-name} {

                    @include border-color($color-name,$style-name,1,$direction);
                }
            }

            @each $color-name-2, $color-value-2 in $colors {
                @if $color-name-2 != $color-name {
        
                    .bg-gr-#{$color-name}-#{$color-name-2}{
                        @include background-gradient($color-value,$color-value-2)
                    }
        
                    .tx-gr-#{$color-name}-#{$color-name-2}{
                        @include color-gradient($color-value,$color-value-2)
                    }
                }
            }
        }
    }



    

    

    
}

.bg-transparent{
    background-color: transparent;
}

.tx-transparent{
    color: transparent;
}

.border-color-transparent{
    border-color: transparent;
}

