/**
 *  Bit Box - 1.0
 *  Arquivo de variáveis sass para cores.
 *  
 *  Esse arquivo vai detalhar e armazenar todas as 
 *  cores utilizadas no Design System como um todo.  
 *  
 *  @project BitBox 
 *  @version 1.0
 *  @package utils/color/variables
 *  @date 06/04/2020 
 *  @lastmodified utils/color/variables 15/04/2020 <ljoliveira2@stefanini.com>
 *  @creator Luigi Oliveira <ljoliveira2@stefanini.com>
 *  @copyright 2020, Caixa Economica Federal 
 */
 
/**
 * Cores Standard
 * 
 * Principais cores que vão gerar suas variações
 *  
 * @section utils/color/variables/standard_colors
 */


/**
 * Objeto de Cores
 *
 * Objeto com todas as cores standard
 *
 * @section utils/color/variables/object_colors
 */
$colors: (

    // Brand Colors
    penelope: #ff00ff,
    lemonade: #00ff99,
    // color-name-3: $color-name-3, ...

    // Coloque quantas cores quiser
);

/**
 * Escala de Cores
 *
 * Escala de cores que será utilizada 
 * para gerar as demais cores.
 *
 * @section utils/color/variables/color_scale
 */
$color_scale:8;


/**
 * Número de cores
 *
 * Escala de cores que será utilizada 
 * para gerar as demais cores.
 *
 * @section utils/color/variables/color_scale
 */
 $color_number:3;